{* normal comment without @annotations *}
{** annotated comment, @see string $robots hehehe! *}
{* TODO abcde *}

{macro here}
{ not a macro}
{define #block}
{include "file.latte"}
{$phpVar}

<a href="{link Presenter:action}">{$var}</a>
<tag n:attrib="{$xyz}">
<tag n:attrib="$xyz">
